<div class="album">
  <div class="container">
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= link_to (image_tag photo.image.url(:medium)), photo %>
            <div class="card-body">
              <h5 class="card-title"><%= photo.description %></h5>
              <%= link_to photo.user.email, profile_path(photo.user_id) %><br>
              <%= link_to 'Show', photo %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>