<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Share you emotions</h1>
  <p class="lead">Post your photos and follow friends</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-success" href="#" role="button">Sign In</a>
    <a class="btn btn-primary" href="#" role="button">Register</a>
  </p>
</div>
